.content__account h2{
    color: rgba(128, 128, 128, 0.705);
    font-size: 22px;
    font-weight: 500;
    padding-left: 2%;
    padding-top: 2% ;
}
.password__info h2{
    color: rgba(128, 128, 128, 0.705);
    font-size: 17px;
    font-weight: 500;
    padding-left: 2%;
    padding-bottom: 1%;
}
.password__info p{
    color: rgba(128, 128, 128, 0.705);
    font-size: 15px;
    font-weight: 500;
    padding-left: 3%;
    padding-top: 5px;
}
.password__info{
    padding-bottom: 2%;
}