
.espace__etudiant__container{
    display: flex;
    flex-wrap: wrap;
}
.menu{
     background-color: black;
}
.content{
    position: fixed;
	left: 270px;
	width: calc(100% - 270px);
	transition: .3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.espace__etudiant__container{
    display: flex;
    flex-wrap: wrap;
}
.content{
	margin-left: 270px;
	width: calc(100%);
    display: flex;
}
.content__topbar{
    position: fixed;
    left: 270px;
	width: calc(100% - 270px);
}
.content__menu{
    left: 270px;
    margin-top: 100px;
	width: calc(100%);
    margin-left: 2%;
    margin-right: 2%;
}
 
  

